<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="imgs/logo.png" alt="WD Fazendas" width="40" height="40" class="logo"><strong class="pl-2">WD Fazendas - Corretora do Agro</strong>
        </a>
        <button class="navbar-toggler collapsed" 
                type="button"
                data-toggle="collapse" 
                data-target="#header"
                aria-controls="header"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="bg-dark collapse" id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">Sobre</h4>
                <p class="text-white">Compra e venda de fazendas</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contato</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.instagram.com/wdfazendas/" class="text-white">Instagram</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=61577256060928" class="text-white">Facebook</a>
                    </li>
                    <li>
                        <a href="https://wa.me/5535998195673" class="text-white" target="_blank">Falar no WhatsApp</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>